{% extends 'polls/base.html' %}

{% block title %}Polling App | Vote{% endblock %}
{% block main %}
<h1 class="h4">{{ question.question_text }}</h1>
{% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
{% endif %}
<form method="post" action="{% url 'polls:vote' question.id %}">
{% csrf_token %}
<div class="border border-primary rounded p-4">
{% for choice in  question.choice_set.all %}
    <div class="form-check">
    <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
    <label class="form-check-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
    </div>
{% endfor %}
</div>
<div class="mt-3">
    <input type="submit" class="btn btn-success btn-block"/>
</div>

</form>
{% endblock main %}